<ion-content>
  <swiper-container
    slides-per-view="1"
    pagination="true"
    >
    <swiper-slide class="bg-color-slide">
      <h1 class="titulo1">dulces de bocado</h1>
      <img src="/assets/img/foto1.jpg" height="500">
    </swiper-slide>
    <swiper-slide class="bg-color-slide2">
      <h1>Trufas de cava y frambuesa</h1>
        <img src="/assets/img/foto2.jpeg" height="500">
    </swiper-slide>
    <swiper-slide class="bg-color-slide3">
      <h1>Cakes exprés en microondas</h1>
        <img src="/assets/img/foto3.jpeg" height="500">
    </swiper-slide>
    <swiper-slide class="bg-color-slide4">
      <ion-icon name="close" class="close-icon" (click)="finish()"></ion-icon>"
      <h1>Recetas de mousses</h1>
      <ion-icon name="battery-charging-outline"></ion-icon>"
      <img src="/assets/img/foto4.jpeg" height="500">
      <ion-button (click)="finish()">llevame al home</ion-button>
    </swiper-slide>
  </swiper-container>
</ion-content>
