swiper-container{
  width:100%;
  height: 100%;
}
swiper-slide{
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  background-color: bisque;
}
.titulo1{
  color:red;
}
.bg-color-slide{
  background-color: plum;
}
.user-avatar{
  width:30px; 
  height:30px;
}
.image-post{
  margin: 0 auto;
  display: block;
}